<div class="bz_comment">
  <div id="bz_preview" class="bz_comment_text"></div>
</div>

<script type="text/javascript" src="extensions/Markdownjs/web/jquery.min.js"></script>
<script type="text/javascript" src="extensions/Markdownjs/web/markdown.min.js"></script>
<script type="text/javascript" src="extensions/Markdownjs/web/comment.js"></script>
